@import "tailwindcss";

@theme inline {
  /* Configure your theme variables here */
  --font-display: "Inter", "sans-serif";
  --color-primary-500: oklch(0.84 0.18 117.33);
  --spacing: 0.25rem;
}
@theme inline {
  --animate-meteor-effect: meteor 5s linear infinite;

  @keyframes meteor {
    0% {
      transform: rotate(215deg) translateX(0);
      opacity: 1;
    }
    70% {
      opacity: 1;
    }
    100% {
      transform: rotate(215deg) translateX(-500px);
      opacity: 0;
    }
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
.meteor {
  background: blue;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
@import "tailwindcss";

@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s)
    var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}
@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.animate-scroll {
  animation: scroll var(--animation-duration) linear infinite
    var(--animation-direction);
}

.scroller {
  max-width: 600px;
}

.scroller ul {
  gap: 1rem;
}
.infite {
  background: none;
  padding: 0 !important;
  height: 100px !important;
  width: 100% !important;
}

.object-contain {
  border-radius: 1rem;
}
.scroller {
  max-width: 1200px;
}
.typeWritter {
  font-size: 2rem;
}
.icon_title {
  color: white !important;
  font-size: 2rem !important;
  background: #000;
}
.afternav {
  background-color: rgb(0, 0, 0);
}
.floa {
  width: fit-content;
  height: fit-content;
}
.navbar {
  background: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
  z-index: 10;
}
/* .lamp {
} */
.right_nav {
  display: flex;
}
.toph1 {
  position: relative;
  top: 2rem;
  width: 800px;
}
.navbar h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-family: sans-serif;
  font-weight: 700;
}

.navbar a:hover {
  cursor: pointer;
  transition: 0.5s;
}

.rigth {
  margin-right: 2rem;
}

.typediv {
  width: fit-content;
  margin: auto;

  background: transparent;
}
.top_type {
  position: relative;
  top: -2rem;
  background-color: transparent;
  width: fit-content;
  height: fit-content;
  margin: auto;
  font-weight: 500;
  color: transparent !important;
}
.char {
  color: rgba(255, 255, 255, 0.721);
}
.typediv {
  height: 100px !important;
}

.mainLAmp {
  position: relative;
}

.afternameh3 {
  font-family: Inter, sans-serif;
  font-size: 1.25rem;
  color: rgb(156 163 175);
  line-height: 1.5rem;
  font-weight: 500;
  margin-top: -1rem;
}
.floating_deck {
  height: fit-content;

  width: 100%;
}
.float {
  background: transparent !important;
  position: relative;
  top: 1rem !important;
}
.fuck {
  background-color: rgb(30 41 59 / 0.8);
}
.nameicon{
  width: fit-content;
  font-size: 1rem;
  font-family: sans-serif;
  padding: 0.2rem;
  letter-spacing: 1px;

}
/* ScrollIndicatorArrow.css */
@keyframes bounceUpDown {
  0%, 100% {
    /* Start and end position */
    transform: translateY(0);
  }
  50% {
    /* Lowest point of the bounce */
    transform: translateY(8px); /* Adjust bounce height here */
  }
}

.animate-bounceUpDown {
  /* Apply the animation */
  animation: bounceUpDown 1.5s ease-in-out infinite; /* Adjust duration and timing */
}

.download_button {
  padding: 0.6rem;
  cursor: pointer;
  border-radius: 1rem;
  background-color: rgb(0, 0, 0) !important;
}
.right_nav_down {
  padding: 0.6rem 0.2rem 0.6rem 0.2rem;
  border-radius: 2rem !important;
}

.navbar {
  position: fixed;
  width: 100%;
}

@media screen and (max-width: 700px) {
  .navbar h2 {
    font-size: 0.9rem;
  }
  .right_nav_down a {
    font-size: 0.6rem;
  }
  .right_nav_down {
    padding: 0.25rem 0.2rem 0.5rem 0.2rem;
  }
  .right_nav {
    padding: 0;
    margin: 0;
    margin-top: -0.3rem;
  }
  .mainLAmp {
    width: 100% !important;
    top: -2rem;
  }
  .toph1 {
    font-size: 2.2rem;
  }
  .afternameh3 {
    font-size: 0.8rem !important;
    width: 300px !important;
    margin: auto;
    line-height: 1rem;
    margin-top: -3rem;
  }
  .noBreak {
    display: none;
  }
  .char {
    font-size: 0.8rem !important;
  }
  .typeWritter {
    position: relative;
    top: -0.3rem;
  }
  .scroller {
    height: fit-content;
    margin-top: -1rem;
  }
  .scroller img {
    width: 40px;
    height: 40px;
    margin: 0;
    border-radius: 0.3rem;
  }
  .li_infine {
    margin: 0;
    padding: 0 !important;
    width: 3.5rem;
  }
  .infite {
    position: relative;
    top: -4rem;
    background-color: #000;
  }
}
.view_touch {
  background-color: transparent;
  width: fit-content;
  margin: auto;
  display: flex;
  height: 6rem;
  position: relative;
  top: -15rem;
}
.view_touch a {
  background-color: rgb(15 23 42);
  padding: 0.75rem 2rem 0.75rem 2rem;
  font-size: 1rem;
  box-sizing: border-box;
 border: 1px solid;
  border-color: rgb(30 41 59 );
  color: rgb(255 255 255);
  font-weight: 700;
  margin: 1rem;
  display: block;
  border-radius: 0.5rem;
  transition: 0.2s;
  position: relative;
  height: fit-content;
  cursor: pointer;
}
.view_touch a:hover{
  /* padding: 1rem 2.5rem 1rem 2.5rem; */
  font-size: 1.1rem;
    transition: 0.2s;
}
